useDynLib(arfima, .registration=TRUE)
import(ltsa)
import(parallel)
importFrom("utils", "tail")
importFrom("graphics", "layout", "legend", "lines", "par", "plot", "plot.default", "text")
importFrom("stats", "AIC", "as.ts", "coef", "convolve", "fft", "is.ts","logLik", "na.omit", "nextn", "optim", "pnorm","printCoefmat", "qnorm", "resid", "rnorm", "runif","toeplitz", "ts", "vcov", "lsfit", "var")
export(bestModes, arfima0, tacfplot, removeMode, tacvf, distance, weed, lARFIMA, lARFIMAwTF, tacvfARFIMA, IdentInvertQ, iARFIMA, arfima, arfima.sim, PacfToAR, ARToPacf, BIC, arfimachanges, sim_from_fitted)
S3method(logLik, arfima)
S3method(coef, arfima)
S3method(AIC, arfima)
S3method(BIC, arfima)
S3method(vcov, arfima)
S3method(print, arfima)
S3method(predict, arfima)
S3method(fitted, arfima)
S3method(residuals, arfima)
S3method(summary, arfima)
S3method(print, summary.arfima)
S3method(print, predarfima)
S3method(plot, predarfima)
S3method(print, tacvf)
S3method(plot, tacvf)
